
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'); 

/* base styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
  font-weight: bold;
  color: #000000;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  
}

.login,.register{
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.login-container, .register-container{
  display: flex;
  flex-direction: column;
  margin-top: 125px;
  flex-grow: 1;
  justify-content: ceter;
}

.login h2,.register h2{
  font-size: 30px;
  color: #1a7db7;
  margin-bottom: 30px;
}

.register-link{
  display: flex;
  margin-top: 40px;
}
.register-link p{
  margin-right: 20px;
  margin-top: 5px;
}

.login-button, .register-button{
    background: #1a7db7;
    color: #fff;
    border: 0;
    padding: 18px;
    height: 40px;
    width: 90px;
    border-radius: 8px;
    cursor: pointer;
}

h1{
    font-size: 55px;
    color: #0498ee;
    margin-bottom: 30px;
}

h2 {
  color : #0498ee;
}

h3 {
  font-size: 40px;
  color: #1a7db7;
}

.login input,
.login textarea,
.login select, 
.register input, 
.register textarea, 
.register select{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.login button, .register button {
  background: #1a7db7;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}



.message-container h2  {
  font-size: 20px;
  color: #1a7db7;
  margin-bottom: 30px;
}

.message-container div {
  background-color: #fff;
  padding: 5px;
}

.message-container div:nth-child(2n) {
  background-color: #fff;
}

.message-input {
  flex-grow: 0;
  padding: 0 20px;
  margin : 0px 20px;
  border-radius: 5px;
  width : 1100px;
  height: 40px;
}


.message-container {
  background-color: #ffffff;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
}

 .heading {
   display: flex;
   flex-direction: column;
 }

 .appname {
   margin: 0px;
 }

 .room {
   margin: 0px;
   align-self: center;
 }

.chat-container {
  background-color: #fff;
  position: absolute;
  list-style: none;
  background: none;
  width: 100%;
  height: 78%;
  margin: 0;
  padding: 30px 0;
  margin-top: 75px;
  max-width: auto;
  overflow: scroll;
  scroll-behavior: smooth;
}

.send-container {
  background-color: #fff;
  position: fixed;
  padding: 30px 0px;
  bottom: 0;
  max-width: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 980px) {
  .message-input{
    width : 61vw;
    height: 5vh;
    padding: 0 5px;
    margin: 0px 5px;
  }
  .send-container{
    margin-bottom: 28px;
    padding: 10px 0px;
  }
  .send-button {
      margin: 0px;
      padding: 0px 0px;
  }
  .chat-container {
    height: 75%;
  }
}


.chat-container li {
  padding: 0.5rem;
  overflow: hidden;
  display: flex;
}

.host {
  justify-content: center;
  align-items: flex-end;
}

.host .msg {
  order: 1;
  background-color: #d4dce1;
  box-shadow: -1px 2px 0px #d4d4d4;
}

.other {
  margin-left: 65px;
  justify-content: flex-start;
  align-items: flex-end;
}

.other .msg {
  order: 1;
  background-color: #9facb4;
  box-shadow: -1px 2px 0px #d4d4d4;
}

.other:before {
  content: "";
  position: relative;
  top: 0px;
  right: 0px;
  left: 0px;
  width: 0px;
  border: 5px solid #fff;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.self {
  margin-right: 50px;
  justify-content: flex-end;
  align-items: flex-end;
}

.self .msg {
  order: 1;
  background-color: #0498ee;
  box-shadow: 1px 2px 0px #d4d4d4;
}

.msg {
  min-width: fit-content;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07);
}

.msg p {
  font-size: 0.8rem;
  margin: 0 0 0.2rem 0;
  color: #0498ee;
}

.self p {
  color : #fff;
}

.send-button {
  background: #0498ee;
  color: #fff;
  border: 0;
  margin: 10px;
  padding: 10px 30px;
  border-radius: 8px;
  cursor: pointer;
}

.self .message {
  color : #fff;
}

.other p {
  color : rgb(0, 0, 0);
  font-weight: bold;
}

.message {
  padding: 4px 3px;
 }



